registry=https://pkgs.dev.azure.com/agilepartner/AP-DigitalFactory/_packaging/web-components/npm/registry/                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/agilepartner/AP-DigitalFactory/_packaging/web-components/npm/registry/:username=agilepartner
//pkgs.dev.azure.com/agilepartner/AP-DigitalFactory/_packaging/web-components/npm/registry/:_password=ZHVhcG9kcHZ2N3V1cHR2ZW81aTN3cnZ1dnV5c3FuZWlzM29udTZ5eTJlYXdxZ216bjQ3YQ==
//pkgs.dev.azure.com/agilepartner/AP-DigitalFactory/_packaging/web-components/npm/registry/:email=lsciampagna@agilepartner.net
//pkgs.dev.azure.com/agilepartner/AP-DigitalFactory/_packaging/web-components/npm/:username=agilepartner
//pkgs.dev.azure.com/agilepartner/AP-DigitalFactory/_packaging/web-components/npm/:_password=ZHVhcG9kcHZ2N3V1cHR2ZW81aTN3cnZ1dnV5c3FuZWlzM29udTZ5eTJlYXdxZ216bjQ3YQ==
//pkgs.dev.azure.com/agilepartner/AP-DigitalFactory/_packaging/web-components/npm/:email=lsciampagna@agilepartner.net
; end auth token